<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/CSS/MainCSS.css}" rel="stylesheet">
</head>
<!-- 배경색 -->
<body style="background-color: #ff7f50;">

<div th:replace="Header.html :: header"></div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img th:src="@{/IMG/test1.jpg}" class="d-block w-100" alt="..." style="max-height:70vh;">
        </div>
        <div class="carousel-item">
            <img th:src="@{/IMG/test2.jpg}" class="d-block w-100" alt="..." style="max-height:70vh;">
        </div>
        <div class="carousel-item">
            <img th:src="@{/IMG/test3.png}" class="d-block w-100" alt="..." style="max-height:70vh;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div th:replace="Footer.html :: footer"></div>

</body>
</html>