<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="Header.html :: header"></div>

<div class="container">
    <table class="table">
        <tr class="row">
            <th class="col-md-1 text-center">번호</th>
            <th class="col-md-5 text-center">가게명</th>
            <th class="col-md-5 text-center">주소</th>
            <th class="col-md-1 text-center">비고</th>
        </tr>
        <tr class="row" th:each="loss : ${loss}">
            <td class="col-md-1 text-center" th:text="${loss.age}"></td>
            <td class="col-md-5 text-center" th:text="${loss.careAddr}"></td>
            <td class="col-md-5 text-center" th:text="${loss.careNm}"></td>
        </tr>
    </table>
</div>

</body>
</html>